@import '../scss/abstract/variables';
@import '../scss/abstract/break_points';

.sidebar {
  width: 200px;
  // background-color:$default-colr;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  border-right: 1px solid #eee;
  padding: 20px 15px;
  position: fixed; /* Fix sidebar to the left side */
  transition: transform 0.3s ease; /* Smooth transition for sidebar toggle */
  transform: translateX(0); /* Sidebar visible */
  // margin-top:-54px;
  
.sidebar--opened{
  display:block;
}
  
  &__greeting {
    position: relative;
    h4 {
      font-size: 20px;
      font-weight: 600;
      color: #ea650d;
      text-wrap: wrap;
      position: absolute;
      /* margin-left: -15rem; */
      margin-top: -25px;
      /* width: 37%; */
      /* margin-right: 2rem; */
      padding: 1px;
    }
  }

  &__divider {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
    margin-top: 35px;
  }

  &__menu {
    flex: 1; /* Allow menu to grow within available space */
    padding-right: 5px; /* Avoid scrollbar overlapping content */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Add spacing between items */
    max-height: calc(100vh - 160px); /* Subtract height for logo and footer */
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0; /* Optional: Add some padding for spacing */
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    font-size: 17px;
    transition: all 0.3s;
    text-decoration: none;

    &:hover,
    &--active {
      background-color: $btn-color;
      color: white;
      border-radius: 30px;
      height: 20px;
    }

    &--logout {
      color: #e91e63;
      font-weight: bold;

      &:hover {
        background-color: #ffe8ed;
      }
    }
  }

  &__icon {
    font-size: 18px;
  }


}

@media screen and (max-width:$screen-md-min) {
  .sidebar--closed{
    display: none;
  }
  .sidebar{
    &__greeting{
      display: none;
    }
    &__divider{
      display: none;
    }
  }
}

