@import '../scss/abstract/variables';
@import '../scss/abstract/break_points';

.software-package-details {
    margin: 30px 0;
    padding: 15px;
    border-radius: 5px;
    color: $secondary-color;
    width: 100%;

    .right-title {
        position: relative;

        h3 {
            color: black;
            position: absolute;
            text-decoration: underline;
            top: -5rem;
            font-size: 13px;
        }
    }

    .package-detail {
        display: flex;
        text-align: justify;
        gap: 50px;
        margin-top: -38px;
        margin-right: 1rem;
        // flex-wrap: wrap;

        .detail-item {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .ad,
            .ad-str {
                margin-left: -4rem;
                text-wrap: nowrap;
            }

            span {
                display: flex;
                font-size: 13px;
                color: $default-colr;
                text-wrap: nowrap;
                font-weight: 700;
            }

            strong {
                color: $default-colr;
                font-size: 10px;
                // text-wrap: nowrap;
            }

            input {
                width: 8rem;
                height: 20px;
                border: 1px solid black;
                background-color: white;
            }
        }
    }

    .owner-title {
        position: relative;

        h4 {
            color: $default-colr;
            position: absolute;
            text-decoration: underline;
            top: -17px;
            font-size: 13px;
        }
    }

    .owner-details {
        display: flex;
        text-align: justify;
        gap: 50px;
        margin-top: 1.5rem;

        .detail-item {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .ad,
            .ad-str {
                margin-left: -4rem;
            }

            span {
                display: flex;
                font-size: 13px;
                color: $default-colr;
                text-wrap: nowrap;
            }

            strong {
                color: $default-colr;
                font-size: 10px;
            }

            input {
                width: 8rem;
                height: 20px;
                border: 1px solid black;
                background-color: white;
            }
        }
    }

    .title-sec {
        position: relative;

        .user-title {
            color: $default-colr;
            position: absolute;
            text-decoration: underline;
            top: -7px;
            font-size: 11px;
            padding-right: 20px;
        }

        span {
            padding-left: 85px;
            color: $default-colr;
        }

        .custom-checkbox {
            width: 16px;
            height: 16px;
            cursor: pointer;
            accent-color: blue; /* Changes the checkmark color to blue */
          }
          
          .custom-checkbox:checked {
            border-color: blue;
          }
          
    }

    .user-list-container {
        max-height: 150px;
        overflow-y: auto;
        border: 1px solid $default-colr;
        padding: 8px;
        height: 7rem;
        margin-right: 1rem;

        .user-list {
            .user-row {
                display: flex;
                align-items: center;
                border-bottom: 1px solid $secondary-color;

                &:last-child {
                    border-bottom: none;
                }

                .user-number {
                    width: 30px;
                    text-align: center;
                    font-weight: bold;
                    color: $text-color;
                }

                .user-details {
                    flex-grow: 1;
                    display: flex;
                    justify-content: space-between;
                    color: $secondary-color;

                    .user-info,
                    .user-meta {
                        margin-right: 8px;

                        p {
                            margin: 4px 0;
                            color: $default-colr;
                        }

                        a {
                            color: $primary-color;
                            text-decoration: none;
                        }
                    }

                    .user-name {
                        color: $text-color;
                    }

                    .user-mail {
                        a {
                            // color: $secondary-color;
                        }
                    }

                    .remove-option {
                        label {
                            color: $highlight-color;
                            font-size: 0.85rem;

                            .custom-checkbox {
                                width: 16px;
                                height: 16px;
                                cursor: pointer;
                                accent-color: blue; /* Changes the checkmark color to blue */
                              }
                              
                              .custom-checkbox:checked {
                                border-color: blue;
                              }
                              
                        }
                    }
                }
            }
        }
    }

    .footer {
        text-align: center;
        margin-top: 7px;

        .review-complete {
            background-color: $highlight-color;
            color: $secondary-color;
            padding: 8px 16px;
            border-radius: 12px;
            border: none;
            cursor: pointer;
            width: 100%;
        }
    }
}

@media screen and (max-width:$screen-xl) {
    .software-package-details {
        .package-detail {
            gap: 30px;
        }
    }
}

@media (max-width: $screen-xl-min) {
    .software-package-details {
        width: 45%;
        // background-color: red;

        .package-detail {
            flex-wrap: wrap;
            gap: 1px !important;
        }

        .owner-details {
            gap: 20px;
        }
    }
}
@media screen and (max-width:$screen-lg-min) {
    .software-package-details{
        margin-top: 3rem;
        width: 100%;
        .right-title{
            h3{
                top: -5rem;
            }
        }
        .package-detail{
            gap: 20px !important;
        }
        .user-list-container{
            width: auto;
            margin-right: 1rem;
        }
        .footer{
            margin-right: 1rem;
        }
    }
}
@media screen and (max-width:$screen-md-min){
    .software-package-details{
        .package-detail{
            gap: 5px !important;
            width: 93%;
        }
        .owner-details{
            gap: 5px;
            flex-wrap: wrap;
        }
        .title-sec{
            span{
                padding-left: 173px;
                font-size: 12px;
            }
        }
        .user-list-container{
            margin-right: 2rem;
        }
    }
}